/* global CSS */
*{
    font-size: 20px;
    font-weight: bold;
    background-color: lightgray;
 }
h3 {
    color :blue;
 
}
/* element selector */
h4{
    color :teal;
}

/*class selector */
.myclass{
    color:darkorange;
}
/* id selector */
#myid{
    color:darkgreen;
}
/* group selector */
h5,p{
    color:purple;
}